<!-- app/views/admin/dashboard/show.html.erb -->




<h1>Admin Dashboard Counter</h1>

<h3>
<%= link_to  "#{@product_count} products", [:admin, :products], class: 'btn btn-info' %>
<%= link_to  "#{@category_count} Categories", [:admin, :products], class: 'btn btn-info' %>

</h3>
